body{
    font-family: 'Poppins',sans-serif;
}

.cabecalho{
    background-color:#02082b;
    color: white;
    display: flex;
    justify-content: space-around;
}
.estetoscopio{
    width: 200px;
    position: relative;
    top: 50px;
    left: 150px;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}
.consulta-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#02082b,#0d4669);
    color:white;
    display:flex;
}
.escola-conteudo{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-titulo{
    padding: 24px 0;
}
